{% extends "registration/login_base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container w-50">
    {% if form.errors %}
    <div class="invalid-feedback d-block mb-3">
        Your username and password didn't match. Please try again.
    </div>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="row">
            <div class="col-md-auto">
                {{ form.username.label_tag }}
            </div>
            <div class="col">
                {% render_field form.username class="form-control form-control-sm" %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-auto">
                {{ form.password.label_tag }}
            </div>
            <div class="col">
                {% render_field form.password class="form-control form-control-sm" %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-auto">
                <button class="btn btn-sm btn-outline-success my-2 my-sm0" type="submit">Login</button>
            </div>
            <div class="col-md-auto" style="display:flex; align-items:flex-end">
                <a href="{% url 'password_reset' %}">reset password?</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}