{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container w-50">
  <form action="" method="post">
    {% csrf_token %}
    {% if form.errors %}
    {{ form.errors }}
    {% endif %}
    <div class="row mt-3">
      <div class="col-md-auto">
        Email
      </div>
      <div class="col">
        {% render_field form.email class="form-control form-control-sm" %}
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-auto">
        <button class="btn btn-sm btn-outline-success my-2 my-sm0" type="submit">Reset Password</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}