{% extends "base.tmpl" %}
{% load widget_tweaks %}

{% block content %}
<div class="container w-50">
    <form action="" method="post">
        {% csrf_token %}
        <div class="row mt-3">
            <div class="col">
                Current Password
            </div>
            <div class="col-8">
                {% render_field form.old_password class="form-control form-control-sm" %}
                {% if form.old_password.errors %}
                <div class="invalid-feedback d-block">
                    <ul>
                        <li>The password was entered incorrectly</li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                New Password
            </div>
            <div class="col-8">
                {% render_field form.new_password1 class="form-control form-control-sm" %}
                {% if form.new_password1.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.new_password1.errors }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                New Password (confirm)
            </div>
            <div class="col-8">
                {% render_field form.new_password2 class="form-control form-control-sm" %}
                {% if form.new_password2.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.new_password2.errors }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-auto">
                <button class="btn btn-sm btn-outline-success my-2 my-sm0" type="submit">Change Password</button>
            </div>
        </div>

    </form>
</div>
{% endblock %}