{% extends "base.tmpl" %}
{% block title %} New Menu {% endblock %}
{% block content %}
 <h2 style="margin-bottom:2rem;"> New Menu </h2>

 <form action="" method="post">
   {% csrf_token %}
   {% include 'form.tmpl' with form=form %}
   <br/>
   <button type="submit" class="btn btn-outline-info">Save</button>
 </form>
{% endblock %}
